@media (max-width: 768px) {
  .navbar .container .nav-link {
    display: none;
  }
  .navbar .menu-bar {
    display: flex;
  }
  .content .hero-name {
    font-size: 2.5rem;
  }
  .content .hero-text {
    font-size: 1.2rem;
  }

  .hero-buttons .btn {
    padding: 0.9rem 1rem;
  }
  .hero-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero-social a {
    width: 35px;
    height: 35px;
  }

  .hero-section {
    height: 110vh;
  }
}
