@media (max-width: 768px) {
  .navbar .menu-bar {
    display: flex;
  }
  .nav-link {
    display: none;
  }
/* 
  .nav-link-mobile.active {
    display: flex;
  }
  Ensure mobile menu is visible when active */

  .content .hero-name {
    font-size: 2.5rem;
  }
  .content .hero-text {
    font-size: 1.2rem;
  }

  .hero-buttons .btn {
    padding: 0.9rem 1rem;
  }
  .hero-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero-social a {
    width: 35px;
    height: 35px;
  }

  .scroll-indicator {
    bottom: 140px;
  }

  .timeline-container {
    width: 110%;
    padding: 2rem 1rem;
  }

  .timeline-container::before {
    left: 20px;
  }

  .timeline-items {
    width: 100%;
    margin-left: -1.2rem !important;
    margin-right: 0 !important;
    padding-left: 3rem;
  }

  .timeline-description {
    font-size: 0.7rem;
    width: 100%;
  }

  .timeline-items::before {
    left: 12px !important;
    transform: translateX(0) !important;
  }

  .section-title {
    font-size: 2rem;
  }

  .timeline-header {
    margin-bottom: 3rem;
    padding-top: 2rem;
  }

  .contact-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-context {
    flex-direction: column;
    justify-content: center;
  }
  /* SVG Icons Inline */
  .icon {
    width: 20px;
    height: 20px;
  }

  .footer-text {
    text-align: center;
  }
}
